.recipe {
  position: relative;
  border-radius: 20px;
  height: 400px;
  > i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: white;
    transition: color 0.2s;
    z-index: 1;
    cursor: pointer;
    &:hover {
      color: var(--red-1);
    }
  }
  cursor: pointer;
  i {
    font-size: 20px;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
    .recipeTitle {
      color: var(--primary);
    }
  }
}
.imageContainer {
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  img {
    width: 100%;
    transition: 1s transform;
  }
}

.recipeTitle {
  height: 100px;
  border: 1px solid var(--gray-2);
  transition: 0.2s color;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
